<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<div>
    <th:block th:each="user : ${users}">
        <a th:href="@{/admin/users/{id}(id=${user.getUserId()})}"
           th:text="${user.getFirstName() + ', ' + user.getLastName()}">user</a>
    </th:block>
</div>
<hr/>

<a th:href="@{/admin/users/new}">Create new user</a>

<hr/>

<a th:href="@{/logout}">Logout</a>

</body>
</html>